.label {
  height: 5.125in;
  width: 3.125in;
  color: black;
  font: 8pt/1.3 sans-serif;

  header {
    border-bottom: 1px solid black;
    font: 7pt/1.15 sans-serif;
  }

  p {
    margin: 0;
  }

  &__body {
    height: 5in;
    margin: 0.0625in;
    overflow: hidden;
    width: 3in;
  }

  &__compounding-notice {
    border: 1px solid black;
    font: 10pt/1.2 sans-serif;
  }

  &__lower-half {
    height: 1.625in;
    margin: 0.25in 0.25in 0 0;
  }

  &__upper-half {
    height: 2.875in;
    margin: 0 0.25in 0 0;
  }
}

@media screen {
  .label {
    background: gray;
    border: 1px solid black;
    margin: 16px 0;

    &__body {
      background: pink;
      border: 1px solid black;
      border-radius: 0.125in;
    }

    &__lower-half {
      margin: 0.25in 0.125in 0.125in 0.125in;
    }

    &__upper-half {
      margin: 0.125in 0.125in 0 0.125in;
    }
  }
}
